@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@1,800&family=Urbanist:ital,wght@1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@1,200&display=swap');

*{
	background-color:#F2CEA2;
}
header {
    margin: 0 auto;
    text-align: center;
   height: 150px;
	
}

h1{
	color: #FFFFFF;
	 font-size:50px;
	 font-family:  'Fredoka One', cursive;
	padding: 30px;
	background-color: #037F8C;
}
.CONTENEDORES_TARJETA{
    width:700px;
    height: 300px;
    background-color: #F24949;
    font-family: 'Architects Daughter', cursive;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    padding:30px;
    margin-bottom:40px;
    color:white;
}
h5{
    width: 100%;
    height: 60px;
    background-color: #037F8C;
    text-align: center;
    margin:0 auto;
   font-family: 'Nunito', sans-serif;
    padding-top: 30px;
	color:aliceblue;
	font-size: 20px;
	
}
#header_rectangulo {
	padding: 0 auto;
	margin-top: -34px; 
	width: 100%;
	

	
}
#CONTENEDORES_TARJETA2{
    width:700px;
    height: 190px;
    background-color: #0AF4E9;
  	font-family: 'Urbanist', sans-serif;
    font-size: 35px;
    text-align: center;
    margin: 0 auto;
    padding:30px;
    margin-bottom:40px;
    color:black;
}
#CONTENEDORES_TARJETA3{
    width:700px;
    height: 300px;
    background-color: #F24949;
  	font-family: 'Rubik', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    padding:30px;
    margin-bottom:50px;
    color:white;
	border: solid;
	border-color:#0AF4E9;
	border-width: 10px;
}
#CONTENEDORES_TARJETA4{
	width:700px;
    height: 310px;
    background-color: #0AF4E9;
  	font-family: 'Libre Franklin', sans-serif;
    font-size: 40px;
    text-align: center;
    margin: 0 auto;
    padding:30px;
    margin-bottom:50px;
    color: black;
	border: groove;
	border-width: 20px;
	border-color: #F24949;
}

