@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

*{
	margin: 0 auto;
	padding: 0 auto;
}

/*header*/

h1{
	font-family: 'Bree Serif', serif;
	font-size: 50pt;
	text-align: center;
	color: #FBDD34;
}

header{
	height: 100px;
	background-color: #E3194A;
	width: 100%;
}

h3{
	color: white;
	font-size: 18px;
	font-family:'Nunito', sans-serif;
}

a{
	text-decoration: none;	
}

/*contenido*/

h2{
	font-family: 'Bree Serif', serif; 
	font-size: 30pt;
	text-align: center;
	color: #3832FF;
}

p{
	font-family: 'Nunito', sans-serif;
	color: #E3194A;
	font-size: 12pt;
}

b{
	color: #3832FF;
}

li {
  color: #3832FF;
	font-family: 'Nunito', sans-serif;	
}

span{
	color: #E3194A;
}

/*footer*/

footer{
	height:  50px;
	background-color: #E3194A;
	text-align: center;
}

h5{
	color: #FBDD34;
	font-size: 14pt;
	padding-top: 40px;
	font-family: 'Nunito', sans-serif;
}

@media screen and (min-width: 1024px) and (max-width: 1500px){
	p{
	font-family: 'Nunito', sans-serif;
	color: #E3194A;
	font-size: 16pt;
}
/*footer*/

footer{
	height:  50px;
	background-color: #E3194A;
	text-align: center;
}

h5{
	color: #FBDD34;
	font-size: 14pt;
	padding-top: 40px;
	font-family: 'Nunito', sans-serif;
}
}

@media screen and (min-width: 500px) and (max-width: 1024px){
	p{
	font-family: 'Nunito', sans-serif;
	color: #E3194A;
	font-size: 12pt;
}
h1{
	font-family: 'Bree Serif', serif;
	font-size: 35pt;
	text-align: center;
	color: #FBDD34;
}

header{
	height: 75px;
	background-color: #3832FF;
	width: 100%;
}
footer{
	height: 35px;
	background-color: #E3194A;
}
h5{
	color: #3832FF;
	font-size: 12pt;
	padding-top: 10px;
	font-family: 'Nunito', sans-serif;
}
}
	
@media screen and (min-width: 20px) and (max-width: 500px){
	p{
	font-family: 'Nunito', sans-serif;
	color: white;
	font-size: 8pt;
}	
	h1{
	font-family: 'Bree Serif', serif;
	font-size: 20pt;
	text-align: center;
	color: #C8E80C;
	padding-top: 7px;
}

header{
	height: 50px;
	background-color: #FF9500;
	width: 100%;
}

h3{
	color: white;
	font-family:'Nunito', sans-serif;
	font-size: 8pt;
}
	/*contenido*/

h2{
	font-family: 'Bree Serif', serif; 
	font-size: 12pt;
	text-align: center;
	color: #FBDD34;
}
	li {
	font-size: 8pt;
  	color: white;
	font-family: 'Nunito', sans-serif;	
}
	b{
	color: white;
}
span{
	color: white;	
	}
footer{
	height: 25px;
	background-color: #FF9500;
}
h5{
	color: #C8E80C;
	font-size: 12pt;
	padding-top: 10px;
	font-family: 'Nunito', sans-serif;
}
}
